body{
    margin: 0;
}
.content{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    flex: 1;
}
.header{
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.header p{
    font-weight: bold;
    margin-left: 400px;
    font-size: 24px;
    color: #F9FAF8;
}
ul.header-links{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 400px;
}

li{
    list-style-type: none;
    display:flex;
    padding-left: 16px;
}

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 108px 0px;
    gap: 24px;
}
.left-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    margin-left:400px;
    padding-bottom: 16px;
    min-width:300px;
}
.left-text .title{
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}
.left-text .subtext{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}
button.sign-up-1{
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #3882F6;

    max-width: 100px;
}
.right-placeholder{
    display:flex;
    margin-right:400px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    color: white;
    flex: 1;
    min-width: 300px;
}

.image-content{
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900px;
    padding-top: 32px;
    padding-bottom: 108px;
}

.images{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imag-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.images p{
    text-align: center;
    font-size: 18px;
    color: #1F2937;
    max-width:200px;
}
.images img{
    width: 180px;
    height: 180px;
    border-radius: 8px;
    border: 3px solid #3882F6;
}

.quote-section{
    display:flex;
    flex:1;
    color:#1F2937;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    padding-top:72px;
    padding-bottom: 108px;    
}

.quote{
    margin-left: 400px;
    margin-right: 400px;
    font-weight: 200;
    font-style: italic;
    font-size: 36px;
}
.author{
    margin-left: 400px;
    margin-right: 400px;
    font-weight: 900;
    font-size: 18px;
    align-self: flex-end;
}
